[submodule "lib/reveal.js"]
	path = lib/reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "lib/revealjs-fullscreen-img"]
	path = lib/revealjs-fullscreen-img
	url = https://github.com/chrismetcalf/reveal.js-fullscreen-img.git
